* {

	font-family: Lato, sans-serif;
	font-weight: 300;
}
.myimage{
	border-radius: 50%;
	margin-top: 5px;
}
h1{
	color:#BCBBBB;
	margin-bottom:5px;
}
h2 {
	color:#BCBBBB;	
}
h3 {
	color:#747704;
}
a {
	color:#BCBBBB;
}
h4{
	color:#BCBBBB;
}
.container {
   max-width: 1000px;
    width: 100%;
 }
.row{
	margin-bottom: 20px; 
 }
.top{
	border-bottom: 2px solid #BCBBBB;
}